@import '../../scss/variables';

.container-fluid-project-detail {
  width: 100%;
}

.container-box-image-project-detail {
  height: 510px;
  background-attachment: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-title-project-detail {
  padding-top: 100px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;

  .title-project-detail {
    flex: 1 1 50%;
    h1 {
     font-size: 52px;
     font-weight: 300;
     font-family: $text;
     color: $tercery_light;
   }
  }

  .list-objectives-project-detail {
    flex: 1 1 50%;
    ul {
      list-style: none;
    }
    li {
      font-size: 24px;
      color: $black;
      font-weight: 400;
      font-family: $text;
    }
  }
  .content-project-detail {
    padding-top: 74px;
    font-family: $text;
    h3, h4 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 36px;
    }
    p {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.list-images-project-detail {
  @include container;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .box-image-project-detail {
    flex: 1 1 50%;
    margin-bottom: 30px;
  }

  .image-descrption-project-detail {
    text-align: left;
    font-size: 16px;
    padding-top: 5px;
  }
}
.videos-project-detail {
  margin: 30px 0;
}