@import '../../scss/variables';

.container-fluid-home {
  background: $white;
  border-bottom: 5px solid #333;
  width: 100vw;
  max-height: 120px;
  .container-menu {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: $container;
    margin: 0 auto;
  }
  .container-logo a {
    color: $main;
    & svg {
      transform: scale(0.8)
    }
  }
  .box-menu ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
    
    .list-menu {
      min-width: 150px;
      border-bottom: 2px solid $white;
      text-align: center;
      padding-bottom: 5px;
      text-decoration: none;
      color: $text_color;
      font-family: $text;
      font-size: 18px;
      cursor: pointer;
      & li {
        text-decoration: none;
        color: $text_color;
      }
      &:hover, &.selected {
        border-bottom: 2px solid $main;
        & li {
          color: $text_color;
        }
      }
    }
  }
}