@import '../../scss/variables';

.container-fluid-services {
  width: 100%;
}

.box-title-service {
  width: $container;
  margin: 0 auto;

  .title-service {
    color:$tercery_light;
    font-size: 72px;
    font-family: $auxB;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 54px;
  }

  .description-service {
    color:$tercery_light;
    font-size: 36px;
    line-height:40px;
    font-family: $text;
    font-weight: 600;
  }

}
.highlight-services {
  padding: 80px 0;
  .highlight-content-services {
    width: $container;
    margin: 0 auto;
  }
  p {
    font-size: 38px;
    line-height:42px;
    text-align: left;
    font-family: $auxL;
    b {
      font-family: $auxB;
    }
  }
}