@import '../../scss/variables';

.container-fluid-contact{
  display: block;
  height: auto;
  width: 100%;
}

.container-contact{
  @include container;
  margin: 0 auto;
  display: block;
  height: auto;
}

.container-header-contact {
  height: 350px;
  h1 {
    font-size:80px;
    font-family: $auxB;
    font-weight: 600;
    color: $contact;
  }
  p {
    font-size: 36px;
    line-height: 40px;
    font-family: $title;
    color:$contact;
  }
}

.container-highlighted-contact {
  background-color:#f9ebdc;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size:38px;
    font-family: $auxL;
    color:$contact;
    margin: 0;
  }
}

.container-contact {
  &.container-form-contact {
    display: flex;
    flex-direction: row;
    padding: 99px 0 40px;

  }
  .box-info-contact {
    flex: 1 1 33.3333333333%;
    color: $black;
    font-family: $text;
    font-weight: 300;
    h2 {
      font-weight: 300;
      font-size: 36px;
      margin: 0;
    }
    p {
      margin: 0;
      margin-top: 25px;
      font-size: 26px;
      line-height:30px;
    }

  }
  .box-form-contact {
    flex: 1 1 66.66666666666%;
    display: flex;
    flex-direction:row;
    form {
      width: 100%;
      & > div {
        display: flex;

      }
      .left-form, .right-form {
        width: 50%;

      }
      .left-form {
        margin-right: 12px;
      }
      .right-form {
        margin-left: 12px;
      }
    }
  }

  .box-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-size:24px;
      color: $black;
      font-weight: 300;
      font-family: $text;
      margin-bottom: 5px;
    }
    input {
      height: 60px;
    }
    span {
      margin-top: 5px;
      color:$main;
      font-size: 14px;
    }
  }
  .checkbox-contact {
    display: flex;
    flex-direction: row;
    align-items:center;
    input {
      margin: 0;
      margin-right: 10px;
      height: 20px;
    }
     p {
       margin: 0;
       font-size: 21px;
     }
  }

  .button-send-form {
    display: inline-block;
    width: 100%;
    height: 78px;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #413129;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
