@import '../../scss/variables';

.container-fluid-home{
  display: block;
  height: auto;
}
.container-fluid-home-block {
  position: relative;
  width: 100%;
  display: block;
  margin: 20px 0;
  & img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  &.block-1 {
    background-color: $orange;
  }
  &.block-2 {
    background-color: $blue;
  }
  &.block-3 {
    background-color: $orange;
    min-height: 700px;
  }
  & > div {
    max-width: 1360px;
    margin: 0 auto;
    padding: 85px 70px;
  }
  & h2 {
    font-size: 48px;
    font-weight: 300;
    font-family: $text;
  }
}