@import '../../../../scss/variables';

.container-fluid-team {
  width: 100%;
}

.box-title-team {
  @include container;
  margin: 0 auto 80px;

  .title-team {
    color:$tercery_light;
    font-size: 72px;
    font-family: $auxB;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 54px;
    span {
      margin-right: 15px;
    }
  }

  .description-team {
    color:$tercery_light;
    font-size: 36px;
    line-height:40px;
    font-family: $text;
    font-weight: 600;
  }

}
.highlight-team {
  padding: 80px 0;
  .highlight-content-team {
    @include container;
    margin: 0 auto;
  }
  p {
    font-size: 38px;
    line-height:42px;
    text-align: left;
    font-family: $auxL;
    margin-bottom: 20px;
    b {
      font-family: $auxB;
    }
  }
}
.container-profile-team {
  @include container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px auto;

}