@import '../../../scss/variables';

.container-submenu {
  width: 100vw;
  margin: 0 auto;
  background: $secondary;
  height: calc(100vh - 130px);
  text-align: center;
  flex: 1;
  .box-submenu {
    width: $container;

    margin: 0 auto;
    height: auto;
  }
  .list-submenu {
    display: flex;
    flex-direction: column;
  }
  .item-submenu {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 90px;

    .item-number-submenu {
      width: 35px;
      border-bottom: 2px solid $tercery;
      border-top: 2px solid $tercery;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: $auxL;
      text-align: left;

    }
    .item-title-submenu {
      width: 300px;
      padding-left: 50px;
      font-size: 24px;
      font-family: $auxB;
      text-align: left;
    }
    .item-description-submenu {
      flex: 1 1 calc(100% - 350px);
      text-align: left;

    }
  }
}