@import '../../scss/variables';

.box-carousel {
  width: 100%;
  .content-carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 80px);
  }
  .text-carousel {
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    
    .text-carousel-content {
      padding-left: 20px;
      padding-top: 390px;
        p {
          font-weight: 300;
          font-size: 18px;
          line-height:24px;
          margin: 5px 0;
          color: inherit;
        }
        h2 {
          font-weight: 400;
          font-size: 24px;
          line-height:28px;
          margin: 15px 0;
          color: inherit;
        }

    } 
  }
  .image-carousel {
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 100%;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    opacity: 0.7;
    cursor: pointer;
    z-index: 2;
  }
  .arrow {
    display: none;
  }
  .nextArrow {
    right: 50px;
  }
  .prevArrow {
    left: 50px;
  }
  @include desktop { 
    .content-carousel {
      display: flex;
      position: relative;
      height: 530px;
    }
    .image-carousel {
      position: absolute;
      left: initial;
      right: 0;
      top: 0;
    }
    .text-carousel {

      margin: 0 auto;
      text-align: left;
      
      .text-carousel-content {
        padding-top: 0;
        padding-right: 200px;
          p {
            font-weight: 300;
            font-size: 28px;
            line-height:36px;
            margin: 5px 0;
            color: inherit;
          }
          h2 {
            font-weight: 400;
            font-size: 60px;
            line-height:72px;
            margin: 15px 0;
            color: inherit;
          }
  
      } 
    }
    .arrow {
      display: inline-block;
    }
  }
}