@import '../../scss/variables';

.box-carousel {
  width: 100%;
  .content-carousel {
    display: flex;
    position: relative;
    height: 530px;
  }
  .text-carousel {
    width: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    color: $tercery;
    .text-carousel-first-text {
      font-size: 28px;
      line-height:36px;
    }
    .text-carousel-second-text {
      font-size: 60px;
      line-height:60px;
      margin: 0;
      margin-bottom: 30px;
    }
    & .text-carousel-content p {
      font-weight: 300;
      font-size: 28px;
      line-height:36px;
      margin: 5px 0;
    }
  }
  .image-carousel {
    position: absolute;
    right: 0;
    top: 0;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
    opacity: 0.7;
    cursor: pointer;
    z-index: 2;
  }
  .nextArrow {
    right: 50px;
  }
  .prevArrow {
    left: 50px;
  }
}