@import '../../scss/variables';
.container-box-project{
  position: relative;
  height: 440px;
  background-color: rgba(0,0,0, 0.5);
  margin: 20px 0;
  border-bottom: 10px solid $main;
  .box-box-project {
    @include container;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: space-between;
    z-index: 1;
    .content-box-project {
      padding: 20px 20px;
    }
    & h3, & p {
      color: $white;
      font-size: 24px;
      font-weight: 700;
      line-height:28px;
      font-family: $text;
      margin: 0;
    }
    & p {
      font-weight: 300;
    }
  }
  .button-box-project {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    & a {
      text-decoration: none;
    }
    & p{
      color: $white;
      max-width: 680px;
      font-size: 36px;
      font-weight: 400;
      line-height:40px;
      font-family: $text;
      margin: 0;
      & span {
        font-weight: 700;
        font-size: 72px;
      }
    }
  }
  .container-box-image-project {
    top: 0;
    position:absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    height: 440px;
    width: 100%;
    z-index: -1;
  }
  @include desktop { 
    .box-box-project {
      padding: 85px 70px;
      display: flex;
      flex-direction:row;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      & h3, & p {
        color: $white;
        max-width: 680px;
        font-size: 48px;
        font-weight: 700;
        line-height:56px;
      }
      & p {
        font-weight: 300;
      }
    }
    .box-box-project { 
      flex: 1 1 70%;
    }
    .button-box-project {
      flex: 1 1 30%;

    }
  }
}