@import '../../../../scss/variables';

.container-section-services {
  width: 100%;
  padding: 80px 0;
}

.content-section-services {
  @include container;
  margin: 0 auto;
  display: flex;
}

.colunm-left-section-services {
  padding-right: 30px;
  &.colunm-left-section-services-width {
    max-width: 820px;
  }
  .image-container-embedded {
    margin: 40px 0;
    max-width: 100%;
    // overflow: hidden;
    // height: 300px;
    position: relative;
  }
  img {
    width: 100%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  h1, h2, h3, h4, h5, h6, p, span {
    font-family: $text;
    font-weight: 300;
    
  }
  a {
    color: $main;
  }
  ul {
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  h4 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  h5 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  h6 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  p {
    font-size: 24px;
    line-height:28px;
  }
  li {
    list-style-image: url("../../../../assets/icons/rombo.svg");
  }
}