@import '../../scss/variables';

.container-footer {
  background-color: $secondary;

}

.container-contact-footer {
  background-color: $grey_dark;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content:center;
  font-family: $text;
}

.button-contanct-footer {
  width: 100%;
  background-color: $orange;
  height: 75px;
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  & p {
    color: $text_color;
    font-family: $text;
    font-size: 28px;
    font-weight: 300;
  }
  @include desktop { 
    width: 510px;
  }
}

.message-contact-footer {
  color: $orange;
  font-family: $text;
  font-size: 28px;
  font-weight: 400;
  margin-right: 15px;
}

.box-footer {
  width: 100%;
  display: flex;
  justify-content:space-between;
  color: $grey_dark;

  .box-logo-footer {
    // width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & svg {
      color: $grey_dark;
      transform: scale(0.5) translate(-188px, 10px);
    }
  }

  .box-info-footer {
    display: flex;
    
    & div {
      flex: 1 1 100%;
    }
    & h3 {
      font-size: 12px;
      font-weight: 700;
    }
    & p {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 0;
    }
    & span {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 0;
    }
  }
  @include desktop { 
    width: $container;
    padding: 0 80px;
    margin: 0 auto;
    .box-info-footer {
      width: 544px;
    }
  }
}